#!/usr/bin/make -f

export GOPATH=$(CURDIR)/_build

%:
	dh $@ --buildsystem=golang

override_dh_auto_clean:
	rm -rf $(CURDIR)/_build/ $(CURDIR)/obj-x86_64-linux-gnu/

override_dh_auto_build:
	make build-all

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install -- --no-source
	mkdir -p $(CURDIR)/debian/kyverno/usr/share/bash-completion/completions $(CURDIR)/debian/kyverno/usr/share/zsh/vendor-completions $(CURDIR)/debian/kyverno/usr/bin
	$(CURDIR)/cmd/cli/kubectl-kyverno/kubectl-kyverno completion bash > $(CURDIR)/debian/kyverno/usr/share/bash-completion/completions/kyverno
	$(CURDIR)/cmd/cli/kubectl-kyverno/kubectl-kyverno completion zsh > $(CURDIR)/debian/kyverno/usr/share/zsh/vendor-completions/_kyverno
	mv $(CURDIR)/cmd/cli/kubectl-kyverno/kubectl-kyverno $(CURDIR)/debian/kyverno/usr/bin/kyverno
